<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add form</h1>
    <form method="post" action="/show/<%= items._id %>?_method=PUT">
        <label>name</label>
        <input type="text" name="comment" value="<%= items.comment %>"><br>
        <!-- <label>lname</label>
        <input type="text" name="content" value="<%= items.content %>"><br>
        <label>lname</label>
        <input type="text" name="author" value="<%= items.author %>"><br>
        <label>lname</label>
        <input type="text" name="comment" value="<%= items.comment %>"><br> -->
        <button>Submit</button>
    </form>
</body>
</html>