<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: linear-gradient(to right, #8360c3, #2ebf91);
        }
    </style>
</head>
<body>
    <h1>Content Adding Form</h1>
    <form method="post" action="/show/<%= items._id %>?_method=PUT">
        <label>Title</label>
        <input type="text" name="title" value="<%= items.title %>"><br>
        <label>Content</label>
        <input type="text" name="content" value="<%= items.content %>"><br>
        <label>Author</label>
        <input type="text" name="author" value="<%= items.author %>"><br>
        <!-- <label>lname</label>
        <input type="text" name="comment" value="<%= items.comment %>"><br> -->
        <button>Submit</button>
    </form>

    <p>by @ mukulkaushalll</p>
</body>
</html>